UI(Checkers)/UI(Checkers)/Service References/ServiceReference1/Contract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Contract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Callback_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.DTOModels" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF.Util" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContract_GetPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayers" />
  </wsdl:message>
  <wsdl:message name="IContract_GetPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IContract_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ICallback_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="ICallback_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICallback_GetInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="ICallback_MakeMoveDuplex_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MakeMoveDuplex" />
  </wsdl:message>
  <wsdl:message name="IMove_MakeMove_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeMove" />
  </wsdl:message>
  <wsdl:message name="IMove_MakeMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IMove_ChekMove_InputMessage">
    <wsdl:part name="parameters" element="tns:ChekMove" />
  </wsdl:message>
  <wsdl:message name="IMove_ChekMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChekMoveResponse" />
  </wsdl:message>
  <wsdl:portType name="IContract">
    <wsdl:operation name="GetPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/GetPlayers" message="tns:IContract_GetPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/GetPlayersResponse" message="tns:IContract_GetPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/AddPlayer" message="tns:IContract_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/AddPlayerResponse" message="tns:IContract_AddPlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICallback">
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICallback/StartGame" message="tns:ICallback_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICallback/StartGameResponse" message="tns:ICallback_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/ICallback/GetInfo" message="tns:ICallback_GetInfo_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeMoveDuplex">
      <wsdl:output wsaw:Action="http://tempuri.org/ICallback/MakeMoveDuplex" message="tns:ICallback_MakeMoveDuplex_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMove">
    <wsdl:operation name="MakeMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IMove/MakeMove" message="tns:IMove_MakeMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMove/MakeMoveResponse" message="tns:IMove_MakeMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChekMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IMove/ChekMove" message="tns:IMove_ChekMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMove/ChekMoveResponse" message="tns:IMove_ChekMove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Base" type="tns:IContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayers">
      <soap:operation soapAction="http://tempuri.org/IContract/GetPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <soap:operation soapAction="http://tempuri.org/IContract/AddPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Callback" type="tns:ICallback">
    <wsp:PolicyReference URI="#Callback_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/ICallback/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap12:operation soapAction="http://tempuri.org/ICallback/GetInfo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeMoveDuplex">
      <soap12:operation soapAction="http://tempuri.org/ICallback/MakeMoveDuplex" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Move" type="tns:IMove">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeMove">
      <soap:operation soapAction="http://tempuri.org/IMove/MakeMove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChekMove">
      <soap:operation soapAction="http://tempuri.org/IMove/ChekMove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Contract">
    <wsdl:port name="Base" binding="tns:Base">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/" />
    </wsdl:port>
    <wsdl:port name="Callback" binding="tns:Callback">
      <soap12:address location="http://localhost:8733/Design_Time_Addresses/Callback" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8733/Design_Time_Addresses/Callback</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="Move" binding="tns:Move">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Move" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>