UI(Checkers)/UI(Checkers)/Service References/ServiceReference1/WCF.Util.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMove">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Move" nillable="true" type="tns:Move" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMove" nillable="true" type="tns:ArrayOfMove" />
  <xs:complexType name="Move">
    <xs:sequence>
      <xs:element minOccurs="0" name="Border" type="xs:boolean" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Queen" type="xs:boolean" />
      <xs:element minOccurs="0" name="doubleWay" type="xs:boolean" />
      <xs:element minOccurs="0" name="goldWay" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Move" nillable="true" type="tns:Move" />
</xs:schema>