UI(Checkers)/UI(Checkers)/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.103:8733/Design_Time_Addresses/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.DTOModels" />
  <xs:import schemaLocation="http://192.168.0.103:8733/Design_Time_Addresses/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF.Util" />
  <xs:element name="GetPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.DTOModels" minOccurs="0" name="GetPlayersResult" nillable="true" type="q1:ArrayOfPlayerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="b" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.DTOModels" minOccurs="0" name="AddPlayerResult" nillable="true" type="q2:PlayerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.DTOModels" minOccurs="0" name="player" nillable="true" type="q3:PlayerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="b" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF.Util" minOccurs="0" name="moves" nillable="true" type="q4:ArrayOfMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF.Util" minOccurs="0" name="MakeMoveResult" nillable="true" type="q5:ArrayOfMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChekMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF.Util" minOccurs="0" name="move" nillable="true" type="q6:Move" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChekMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF.Util" minOccurs="0" name="ChekMoveResult" nillable="true" type="q7:ArrayOfMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>